/* main container */
main {
    margin-top: 40px;
    display: block; /* Thay đổi thành block */
    padding: 10px;
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
    color: black;    
}

.content {
    display: flex; /* Bố trí theo hàng ngang */
    justify-content: space-between; /* Chia đều không gian */
}

.cart-container, .order-summary {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Cart container */
.cart-container {
    width: 65%;
}

.cart-items {
    margin-top: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.img-item {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.item-details {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.item-details h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Add ellipsis for long text */
    white-space: nowrap; /* Prevent text from wrapping */
}

.price-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
}

.price-quantity p {
    margin: 0;
    font-size: 24px;
    color: black;
}

.quantity-input {
    width: 60px; /* Adjust width as needed */
    text-align: center;
}

.remove-from-cart-btn {
    margin-left: 20px;
    background-color: #ff4d4f;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.checkout-btn {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 140px;
    padding: 0.55rem;
    border: none;
    background-color: rgb(42, 194, 169);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: rgb(255, 0, 0);
}

/* Order summary */
.order-summary {
    width: 30%;
}

.order-summary h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.total-price {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.price {
    color: rgb(0, 0, 0);
}

.shipping-info {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.shipping-info li {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.order-btn, .order-international-btn {
    display: block;
    width: 100%;
    background-color: rgb(42, 194, 169);
    color: #fff;
    text-align: center;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.order-international-btn {
    background-color: #000;
}

.discount-coupons {
    margin-top: 20px;
}

.coupon {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.coupon p {
    margin: 5px 0;
}

.copy-code-btn {
    background-color: #ffd700;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

/* BannerFooter styles */
.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
}

.carousel img {
    width: 90%;
    height: 550px;
    cursor: pointer;
    object-fit: fill;
    display: none; /* Hide all images initially */
}

.carousel img.active {
    display: block; /* Show the active image */
}

.carousel .prev, .carousel .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.carousel .prev {
    left: 100px;
}

.carousel .next {
    right: 100px;
}

.carousel-dots {
    text-align: center;
    margin-top: 10px;
}

.carousel-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-dot.active {
    background-color: #717171;
}

/* Footer styles */
.footer {
    margin-top: 150px;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    padding: 15px;
    min-width: 200px;
}

.footer-section h2 {
    margin-bottom: 15px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-section p, .footer-section ul {
    font-size: 16px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ddd;
}

.footer-section .social a {
    margin-right: 10px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section .social a:hover {
    color: #ddd;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #222;
    font-size: 14px;
}
