body {
	font-family: Arial, sans-serif;
	margin: 20px;
	background-color: #f9f9f9;
}

.checkout-container {
	margin-top: 40px;
	display: flex;
	gap: 20px;
}

.checkout-cart, .checkout-order {
	border: 1px solid #ddd;
	border-radius: 5px;
	flex: 1;
	padding: 20px;
	background-color: white;
}

.checkout-cart-items {
	margin-bottom: 20px;
}

.cart-item {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.cart-item img {
	width: 100px;
	height: auto;
	margin-right: 20px;
}

.img-item {
	width: 100px;
	height: auto;
	margin-right: 20px;
	border-radius: 5px;
}

.item-details {
	flex-grow: 1;
}

.total-price {
	font-size: 1.2em;
	margin-top: 10px;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.order-form input, .order-form select {
	display: block;
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

.order-form button {
	padding: 10px 20px;
	background-color: rgb(42, 194, 169);
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 8px;
	height: 40px;
	width: 100%;
}

.order-form button:hover {
	background-color: #218838;
}

.payment-info {
	margin-top: 20px;
	padding: 15px;        
	border-radius: 5px;
	background-color: #f9f9f9;
	margin-bottom: 20px;
}

.payment-info h3 {
	margin-top: 0;
	
}

.payment-details p {
	margin: 5px 0;
}